<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../libsFor2/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../libsFor2/angular.min.js"></script>
    <script type="text/javascript" src="../libsFor2/angular-animate.min.js"></script>
    <script type="text/javascript" src="../libsFor2/angular-touch.min.js"></script>
    <script type="text/javascript" src="../libsFor2/ui-bootstrap-tpls-2.4.0.min.js"></script>
    <script type="text/javascript" src="../rootCtrl.js"></script>
</head>
<body ng-app="myApp" ng-controller="RootCtrl">
<button><a href="../index.html">Home</a></button>
<br/>
<br/>
<br/>
<!--The first component:-->
<div style="margin-left:300px;" uib-dropdown auto-close="outsideClick">
    <button uib-dropdown-toggle>Time Picker</button>
    <div uib-dropdown-menu uib-timepicker ng-model="time" ng-change="" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
</div>

</body>
</html>